################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomAssemblies/obj/Debug
/.vs/Customizations/v16
/.vs
/CustomAssemblies/.vs/CustomAssemblies/v16
/CustomAssemblies/bin/Debug
/WebResources/.vs/Web Resources/v16
/WebResources/.vs/config
/WebResources/.vs/Web Resources/v15
/CustomAssemblies/.vs/CustomAssemblies/v15/.suo
