<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CRM_URL" value="https://mcsc-crmreplacement-test1.crm9.dynamics.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CRM_ClientId" value="8ca0dde9-8fab-49e9-bc00-7b67f57a669b" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CRM_ClientSecret" value="HhR8Q~U.5LGgpDBj-CTNGb1RhNM.nO.B7e~Wldof" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>