<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CRM_URL" value="https://mcsc-crmreplacement-test2.crm9.dynamics.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CRM_ClientId" value="b6410707-a2c6-4990-b6cc-23d0161a3700" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CRM_ClientSecret" value="OJz8Q~VNEcUbW-~ZeiBb9L_c7Q318~w_FjlQFb9a" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>