<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CRM_URL" value="https://orgab6ce626.crm9.dynamics.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CRM_ClientId" value="7cea19b3-aea7-4791-82f9-0a8f08483502" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CRM_ClientSecret" value="w1z8Q~Ora9cR4ve0JVint9HPQWpmIDUCiR4x1boF" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>